.digitsContainer{
  display: grid;
  grid-template-rows: repeat(6,30px);
  grid-template-columns: repeat(4,30px);
  gap: 5px;
}
.miniClock {
  height: 30px;
  width: 30px;
  border: solid 2px rgb(249, 219, 165);
  background-color: wheat;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handSvg {
  fill: none;
  position: absolute;
}

.hand {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
body{
  background-color: blanchedalmond;
  overflow: hidden;
}
.clockContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  height: 100vh;
  gap: 40px;
  flex-wrap: wrap;
}

.digitsGroup{
  display: flex;
  gap: 15px;
}
@media (max-width:480px) {
  .clockContainer{
    gap: 0px;
  }
}